### OS
.DS_Store
*.log
*.rdb

### maven
target/

### gradle
.gradle
build/
out/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore Gradle GUI config
gradle-app.setting

### eclipse
#bin/
.settings/
.classpath
.project
.springBeans

### IntelliJ
*.iml
.idea/

### vagrant
.vagrant/
